#!/bin/sh

# Adjust this file for your needs
################################################################################
export ubl_nand=original/ubl_486arm_360ddr_ipnc_dm368.bin
export uboot_nand=original/uboot_dm36x_1.3.4.bin
export kernel_nand=original/uImage
export rootfs_filesys=/home/jiangjx/UbuntuShare/filesys
################################################################################
export ubl_sdmmc=sdcard_flash/ubl_dm36x_sdmmc.bin
export uboot_sdmmc=sdcard_flash/u-boot_dm36x_sdmmc_v2.00.bin

